<launch>
    <include file="$(find gmsl_camera)/launch/gmsl_camera.launch" /> 
    <param name="weight" value="/home/nvidia/model/yolov4/yolo4_berkeley_fp16.rt"/>
    <!-- <param name="weight" value="/home/xavier/model/yolov4/yolo4_fp16.rt"/> -->
    <param name="send" value="/dev/motion-send"/>

    <node pkg="cameracap" type="cameracap_node" name="cameracapnode" 
	 output = "screen" respawn="true">
	</node>
</launch>
